{% extends "layout.html" %}

{% block head %}
{% endblock %}

{% block title %}
Register
{% endblock %}

{% block main %}
<!-- will need to add email password confirmation or/linked account with facebook -->
<form id="registrationForm" action="/register" method="post">
    <div class="mb-3">
        <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="username" name="username"
            placeholder="Username" type="text" required>
        <div id="usernameGuide1"></div>
        <div id="usernameGuide2"></div>
        <div id="usernameGuide3"></div>
        <div id="usernameCheck"></div>
    </div>
    <div class="mb-3">

        <input class="form-control mx-auto w-auto" minlength="8" maxlength="16" id="password" name="password"
            placeholder="Password" type="password" required>
        <div id="passwordGuide1"></div>
        <div id="passwordGuide2"></div>
        <div id="passwordGuide3"></div>
    </div>
    <div class="mb-3">
        <input class="form-control mx-auto w-auto" minlength="8" maxlength="16" id="confirmPassword"
            name="confirmPassword" placeholder="Re-enter password" type="password" required>
        <span id="confirmationIcon"></span>
        <span id="confirmationMessage"></span>
    </div>
    <div class="mb-3">
        <input autocomplete="off" class="form-control mx-auto w-auto" type="email" id="email" name="email"
            placeholder="email" required>
        <div id="emailGuide1"></div>
    </div>
    <br>
    <div>
        <h5>Personal Information</h5>
    </div>
    <div class="mb-3">
        <input autocomplete="off" class="form-control mx-auto w-auto" type="text" id="first_name" name="first_name"
            placeholder="First Name" required>
        <div id="firstNameGuide1"></div>
    </div>
    <div class="mb-3">
        <input autocomplete="off" class="form-control mx-auto w-auto" type="text" id="last_name" name="last_name"
            placeholder="Last Name" required>
        <div id="lastNameGuide1"></div>
    </div>
    <span>I dance as:</span>
    <div class="mb-3">
        {% for role in roles %}
        <input type="radio" id="role" name="role" value="{{ role }}"> {{role}}
        {% endfor %}
        <div id="roleGuide1"></div>
    </div>

    <button class="btn btn-primary" type="submit">Register</button>
</form>
<script src="{{ url_for('static', filename='register_script.js') }}"></script>
{% endblock %}